<ion-item [button]="true">
  <ion-avatar aria-hidden="true" slot="start">
    <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>
  <ion-label>
    <h3>{{ title }}</h3>
    <p>{{ description }}</p>
  </ion-label>
  <ion-label class="badge-container">
    <h3>{{ time }}</h3>
    <div>
      <ion-badge *ngIf="badge !== null" slot="end">{{ badge }}</ion-badge>
      <ion-icon *ngIf="icon" [name]="icon" class="icon" slot="end"></ion-icon>
    </div>
  </ion-label>
</ion-item>
