<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="whatsapp-title">
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-floating-button></app-floating-button>


  <app-item-card
  [title]="'John Doe'"
  [description]="'Active 5 minutes ago'"
  [time]="'5 min'"
  [badge]="'New'"
  [hasHistory]="true">

</app-item-card>
  <ion-item-divider color="light">
    <ion-label>No vistos</ion-label>
  </ion-item-divider>
  <app-item-card
  [title]="'John Doe'"
  [description]="'Active 5 minutes ago'"
  [time]="'5 min'"
  [badge]="'New'"
  [hasHistory]="true">

</app-item-card>
  <ion-item-divider color="light">
    <ion-label>Vistos</ion-label>
  </ion-item-divider>
  <app-item-card
  [title]="'John Doe'"
  [description]="'Active 5 minutes ago'"
  [time]="'5 min'"
  [icon]="'checkmark-circle'">
</app-item-card>
</ion-content>

